<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>687675556968-jshqhq1mhljmfh0ihti3ca84m53v322a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687675556968-jshqhq1mhljmfh0ihti3ca84m53v322a</string>
	<key>API_KEY</key>
	<string>AIzaSyDvH3orf_GvfYLqNbEOjeFUArsvkk3N1sY</string>
	<key>GCM_SENDER_ID</key>
	<string>687675556968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developerwarriors.SnapChatWork2</string>
	<key>PROJECT_ID</key>
	<string>snapchatwork2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatwork2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:687675556968:ios:c1f723a13f9c5c8a</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatwork2.firebaseio.com</string>
</dict>
</plist>